<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Register</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRegister()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doRegister()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">New Username</span>
          <input type="text" ng-model="registerData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">New Password</span>
          <input type="password" ng-model="registerData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm Password</span>
          <input type="password" ng-model="registerData.password2">
        </label>
        <label class="item item-input">
          <span class="input-label">Starter Pokemon</span>
          <select name="Starter" ng-model="registerData.startPokemon">
            <option value="bulbasaur">Bulbasaur</option>
            <option value="charmander">Charmander</option>
            <option value="squirtle">Squirtle</option>
          </select>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
